.t-loginmodal {
    text-align: center;
    width: 500px;
    background: black;
    padding: 80px;
    margin: auto;
    border: 1px solid blue;
    margin-top: 60px;
    border-radius: 20px;
    @include small-moblie {
        width: 90%;
        padding-left: 10px;
        padding-right: 10px;
    }
}
